$snow:          #f3e3de;
$taboo:         #d64b22;
$ceremony:      #ed7948;
$gardenias:      #fbca4d;
$samurai:        #6f7b57;

$sparrow:        #483759;
$sparrow-light:  #5b446f;
$sparrow-dark:   #382b46;

$imperator:      #d6a98c;

$gardener:       #c8171d;
$gardener-light: #cc282e;
$gardener-dark:  #a01317;

$redtree:        #6d1d2a;

