@use "reset.scss";
@use "color.scss";
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

/** Переменные */
--snow: #f3e3de;
--imperator: #d6a98c;

%font-family {
	font-family:         "Host Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight:         600;
	font-style:          normal;
}

.router {
	&__button {
		padding: 0 10px;
	}
}
